body {
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to bottom, rgba(0, 196, 204), white);
  font-family: arial;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}
body link {
  position: center;
}
.tetto {
  background: rgba(255, 255, 255);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.75);
  background-position: center;
  height: 80px;
  width: 100%;
  /* border-top-right-radius:10px; */
  border-bottom-right-radius: 15px;
  /* border-top-left-radius:10px; */
  border-bottom-left-radius: 15px;
  position: fixed;
  /* right:4px; */
  /* left:8px; */
  top: 0;
  left: 0;
  right: 0;
}
#title {
  text-align: center;
  font-size: 65;
  font-weight: bold;
  color: rgba(0, 196, 204);
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.area {
  margin-top: 110px;
  height: 105%;
}
.area_a {
  margin-top: 110px;
  height: 70%;
}
p {
  font-size: 17;
  font-weight: bold;
}
#area_registrazione {
  background: rgba(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  width: 575px;
  height: 730px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.8);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#titolo_casella {
  font-size: 27;
  text-align: center;
  color: rgba(0, 196, 204);
  text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
#casella input[type="date"],
input[type="text"],
input[type="password"],
input[type="mail"] {
  text-align: center;
  width: 270px;
  height: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: rgba(192, 192, 192);
  font-weight: bold;
  font-size: 17;
}
#casella input[type="date"],
input[type="radio"] {
  text-align: center;
  width: 40px;
  height: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: rgba(192, 192, 192);
}
#casella_sex {
  font-weight: bold;
  font: 25;
}
#signin {
  background-color: rgba(0, 196, 204);
  font-size: 25;
  color: white;
  width: 240px;
  height: 30px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}
#login {
  background-position: center;
  position: absolute;
  height: 400px;
  width: 500px;
  background: linear-gradient(to top, rgba(0, 196, 204), white);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.8);
  top: 35%;
  left: 27%;
  font-size: 22;
}
#box {
  text-align: center;
  width: 80px;
  height: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: rgba(192, 192, 192);
}
