body{
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	background:white;
	font-family:arial;
}
body link{
	position:center;	
}
.tetto{
	position:absolute;
	background:linear-gradient(to left,rgba(0,196,204), white);
	background-position:center;
	height:150px;
	width:100%;
	left:0;
	top:0;
}
.tetto input[type="text"]{
	position:absolute;
	top:30px;
	left:30.5%;
	right:30.5%;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	border-color:rgba(192,192,192);
	font-size:17;
	width:600px;
	height:45px;
	box-shadow:0 0 10px  rgba(0,0,0,1);
}
.lato{
	position:absolute;
	width:270px;
	height:100%;
	background:linear-gradient(to top, rgba(0,196,204),rgba(238,251,251));
	border-top-right-radius:-10px;
	left:0;
	top:0;
}
.area_notifica{
	
}
#title{
	position:absolute;
	right:35px;
	top:20px;
	font-size:65;
	font-weight: bold;
	color:rgba(255,255,255);
	text-shadow:0 0 10px  rgba(0,0,0,1);
}